.axis path,
.axis line {
  fill: none;
  stroke: rgba(154, 179, 146, 0.8);
  shape-rendering: crispEdges;
}

.axis text {
  font-family: Century Gothic, Geneva, sans-serif;
  font-size: 10px;
  font-weight: normal;
}

.timeline-label {
  font-family: Century Gothic, Geneva, sans-serif;
  font-size: 12px;
  font-weight: normal;
}


.coloredDiv {
  height:20px; width:20px; float:left;
}

h3{
  padding-left: 100px;
  width: 700px;
  text-align: center;
  -webkit-margin-after: 0;
}

body {
  font-family: Century Gothic, Geneva, sans-serif;
  font-weight: bold;
  color: rgba(57, 67, 55, 1);

}
